
    body{
        width: 18cm;
        padding-right: 1.5cm;
        padding-left: 1.5cm;
        padding-top: 1cm;
    }
    #menus {
          position: absolute;
          background: lightblue;
          height: 5.3cm;
          width: 13cm;
          left: 8cm;
          top: 10cm;
        display: none;
        border-radius: 20px;
        padding: 5px;
    }
    .menu_in{
        background-color: lightblue;
        border: none;
        border-width:0px;
        border:none;
        outline:none;
    }
    #menu_table{
        border: none;

    }
    #kopf{
        width: 18cm;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 20px;
        background-color: rgb(243,243,243);
    }
    #kopftable{
        border-style: none;
        width: 18cm;
        margin-right: 0px;

    }
    .kopft{
        border-style: none;
    }



    #tab{
        width: 18cm;
        margin-right: 0px;
    }
    input{
        border: 0
    }
    #tab, th, td {
        border: 1px ;

        border-collapse: collapse;
        border-style: solid;
    }
    td{
        text-align: center;
        padding-left: 5px;
        padding-right: 5px;
        border-bottom-color: rgb(243,243,243);

    }
    th {
        background-color: rgb(243,243,243);
        text-align: center;
        padding-left: 5px;
        padding-right: 5px;
        border-bottom-color: rgb(243,243,243);


    }
    .minus {
        text-align: center;
        padding: 0px;
    }
    .s1{
        width: 1cm;
    }
    .s2{
        width: 2.5cm;
    }
    .s3{
        width: 0.5cm;
    }
    .s4{
        width: 2.5cm;
    }
    .s5{
        width: 2.2cm;
    }
    .s6, .intable{
        width: 3.3cm;


    }
    .s7, .intable2 {
        width: 4cm;

    }
    .button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px;
        border-radius: 12px;
    }
    #cancel_but{
        background-color: orangered;
    }

    #fo{
        color: white;
        background-color: rgb(7,83,153);
        padding-left: 3px;
        padding-right: 3px;
        margin-right: 5px;
    }
    #unterschrift{
        float: right;
        margin-top: 10px;
    }
    #sma{
        width: 6cm;
        font-size: 10px;
        text-align: center;
        display: block;
    }
    #graufeld{
        width: 6cm;
        height: 1.5cm;
        background-color: rgb(243,243,243);
        display: block;
    }
